.header{
	background: darkgrey;
	text-align: center;
	
	padding: 12px;
	border: 1px solid black;
}

.header a{
	margin: 10px;
	color: #fff;
}
.header a:hover{
	color: black;
}

.footer{
	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: grey; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%;
    text-align: center;
} 	

.content{
	margin:auto;
	text-align: center;
}
.content .temperatura{
	color: green;
	font-size: 70px;
	font-weight: bold;
	margin-top: 50px;
}

.content .state{
	font-size: 40px;
	font-weight: bold;
}

.content input{
	width: 70px;
	text-align: center;
}

.content .opbutton{
	width: 40px;
}

.wifi{
    background: url(wifi-sprites.png) no-repeat;
    float: left;
    margin-right: 10px;
}

.wifi-4{
    background-position: 0 0;
    width: 64px;
    height: 64px;
}

.wifi-3{
    background-position: -64px 0;
    width: 64px;
    height: 64px;
}

.wifi-2{
    background-position: -128px 0;
    width: 64px;
    height: 64px;
}

.wifi-1{
    background-position: -192px 0;
    width: 64px;
    height: 64px;
}